notes
notes.hooked
*.so

*.patched

strace.log
memo.md
bug.md
*.prof
perf*
triton.svg
crash_inputs*
*payload
README.html
*.stdin.log
vuln-samples/\.*

result/**
.[0-9]*
peda*
.gdb_history
.z3-trace
pin.log
